<div class="row" >
    <div class="col-12">

        <div class="row">
            <div class="col-12">
                Lista de videos
            </div>
        </div>

        
<ng-container *ngIf="listaProductosApuesta.length > 0">

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 " *ngFor="let video of listaProductosApuesta">
        <div class="card h-100">

            <iframe width="100%" height="250px" [src]="video.apuesta.video.idVideo" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            
            <div class="card-body">
               
                <h4 class="card-title">Titulo: {{video.apuesta.video.titulo}}</h4>
                <p class="card-text">Artista: {{video.apuesta.video.artista}}</p>
                <p class="card-text">Canal: {{video.apuesta.video.canal}}</p>
                <p class="card-text">Vistas: {{video.vistas}}</p>
                <p class="card-text">Comentarios: {{video.comentarios}}</p>
                <p class="card-text">Likes: {{video.likes}}</p>
                <p class="card-text">Dislikes: {{video.dislikes}}</p>
                
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-auto">
                        <div class="btn btn-block btn-danger text-light" role="button"> Apostar</div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>

</ng-container>

<ng-container *ngIf="listaProductosApuesta.length === 0">
    <div class="row">
        <div class="col-12">
            <p>No hay videos disponibles</p>
        </div>
    </div>
</ng-container>
</div>
</div>


<p>listado-apuestas works!</p>

<ul *ngFor="let apuestas of listaProductosApuesta">
    <li>
       
      
    </li>
</ul>


<div class="row">
    <div class="col">
        <table class="table table-light">
            <thead>
                <tr>
                    <th>
                        id_video
                    </th>
                    <th>
                        artista
                    </th>
                    <th>
                        titulo
                    </th>
                </tr>
            </thead>

            <tbody>
                
                
            </tbody>
        </table>
    </div>
</div>
<!-- 





<div class="row" >
    <div class="col-12">

        <div class="row">
            <div class="col-12">
                Apuesta ya!
            </div>
        </div>



<ng-container *ngIf="apuestasActivas.length > 0">

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4 " *ngFor="let apuestas of apuestasActivas">
        <div class="card h-100">

            <iframe width="100%" height="250px" [src]="video.idVideo | safeurl" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
            <div class="card-body">
                <h4 class="card-title">{{video.titulo}}</h4>
                <p class="card-text">{{video.artista}}</p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-auto">
                        <div class="btn btn-block btn-primary text-light" role="button" [routerLink]="['/dashboard', video.id]"> detalles</div>
                    </div>

                    <div class="col-auto">
                        <div class="btn btn-block btn-danger text-light" role="button" [routerLink]="['/dashboard/editar',video.id]"> Editar</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

</ng-container>

<ng-container *ngIf="videos.length === 0">
    <div class="row">
        <div class="col-12">
            <p>No hay videos disponibles</p>
        </div>
    </div>
</ng-container>
</div>
</div>

<!-- 

<h1>Listado de videos priueba</h1>

<mat-divider></mat-divider>
<br>

<div fxLayout="row wrap" fxLayoutAlign="center" fxLayout.xs="column" fxLayoutGap="20px">

    <div fxFlex="20" fxFlex.lg="15" fxFlex.sm="30" *ngFor="let video of videos">
        <ul>
            <li>{{video.titulo}}</li>
        </ul>

        <app-video-tarjeta [video]="video"></app-video-tarjeta> 

    </div>
</div> --> -->